<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anasayfa</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>

    <div id="app">
        <h1 v-if="isTrue">Anon user {{message}}</h1>
        <h1 v-if="!isTrue">{{username}} {{message}}</h1>

        <p v-show="isTrue">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae quibusdam expedita porro tempore eligendi ducimus voluptatem, cum dolorum veritatis nostrum magni? Quia laudantium, exercitationem deleniti illum quis quasi veniam esse?</p>
        <h1 v-show="!isTrue">{{username}} {{message}}</h1>

        <div v-html="buton"></div>

        <br>
        <div v-text="text"></div>
</head>
<body>
    
</body>
</html>