<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css" />
    <script type="text/javascript" src="app.js"></script>
    <title>Document</title>
    
</head>
<body>
    
    <div id="app">
        <count-box @change_color="setColor(1)" boxname="First Box" :style-object="styleObject" :current-status="currentNumber === 1"></count-box>
        <br><br>
        <count-box @change_color="setColor(2)" boxname="Second Box" :style-object="styleObject" :current-status="currentNumber === 2"></count-box>
        
    </div>

</body>
</html>
