#maindiv{
    display: block;
    width: auto;
}
.boxback{

    width: 30%;
    background-color: lightgray;
    text-align: center; 
    padding: 20px;
}
.boxback:hover{
    background-color: darkslategray;
    color: whitesmoke;
    
}
.content{
    height: 100px;
    background-color: whitesmoke;
}

p{
    color:black;
    padding: 10px;

}
